.UserNewPasswordForm {
  max-width: 450px;
  text-align: left;
  word-break:break-all;
}

.UserNewPasswordForm .new-password-form {
  max-width: 450px;
}

.UserNewPasswordForm .change-password-button {
  width: 100%;
}