.UserLoginForm {
  max-width: 450px;
}

.UserLoginForm .login-form {
  max-width: 450px;
}

.UserLoginForm .login-form-remember-me {
  float: left;
}

.UserLoginForm .login-form-forgot {
  float: right;
}

.UserLoginForm .login-form-button {
  width: 100%;
}