.UserLoginForm-modal {
  text-align: center;
  white-space: nowrap;
}

.UserLoginForm-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.UserLoginForm-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}