<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
<script src="eventList.js"></script>
<script>
    //This is the testing html file of using searchEventsByLocation() function
    //Notice that we use a callback function to return the json-format result
    //result : a list of events that satisfy the area range
    $(document).ready(function(){
        searchEventsByLocation(function f_res(result){
            $(document.getElementById('events')).html(result);
        });
        // $(document.getElementById('events')).html(result);
    });
</script>
<h2>Upcoming Events!</h2>
<div id="events"></div>
</body>
</html>