.Map {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 0;
}

.Map-containerElement {
  height: 100%;
}

.Map-mapElement {
  height: 100%;
}

.SearchBox-input {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  margin-top: 27px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
}