.EventDetail {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 350px;
  bottom: 0px;
  z-index: 4;
  background: whitesmoke;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 4px 8px;
  /* height: 300px; */
}

.EventDetail-description img{
  width: 100%;
  height: 100%;
}