.UserUnauthorized-modal {
  text-align: center;
  white-space: nowrap;
}

.UserUnauthorized-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.UserUnauthorized-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: middle;
  max-width: 500px;
}