.UserPosts {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 350px;
  bottom: 0px;
  z-index: 4;
  background: whitesmoke;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  padding: 4px 8px;
  /* height: 300px; */
}

.UserPosts-avatar {
  position: absolute;
  /* left: 50%; */
  right: 200px;
  width: 0px;
  margin-left: -50px;
  top: 50px;
  z-index: 4;
}